.hobbies {
  width: fit-content;
  background: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.hobbies h2 {
  font-weight: 500;
  font-style: 1.5em;
}

.hobbies .container {
  @include flex-row;
  gap: 2em;
  margin-top: 1em;

  @include size-down(tablet) {
    @include flex-col;
    gap: 1.5em;
  }
}
.hobbies.vertical .container {
  @include flex-col;
}

.hobby-card {
  .image {
    width: 100%;
    span {
      height: 10em;
      width: 100%;
      display: block;
      border-radius: 10px;
      background: orchid;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 1em;
  }
  p {
    font-style: 1.2em;
    width: 80%;
    margin-top: 1em;
    color: gray;
  }

  @include size-down(mobile) {
    .image {
      span {
        height: 5em;
      }
    }
    p {
      width: 100%;
    }
  }
}

