@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
  --ff : 'Montserrat', sans-serif;

  --clr-pri: #F2F2F2;
  --clr-sec: #FFFFFF;
  --clr-ter: #2F80ED;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 2em;

  background: var(--clr-pri);
  font-family: var(--ff);

  display: flex;
  flex-direction: column;
  gap: 2em;
}

$breakpoints : (
  "desktop" : '1023px',
  "tablet" : '768px',
  "mobile" : '500px',
  "mobile-small" : '425px'
);

@mixin size-down($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button {
  all: unset;
  background: var(--clr-sec);
  color: var(--clr-ter);
  border: 1px solid var(--clr-ter);
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;

  &.fill {
    background: var(--clr-ter);
    color: var(--clr-sec);
  }
}

@import 'profile-card';
@import 'projects';
@import 'skills';
@import 'blogs';
@import 'experience';
@import 'hobbies';


section.layout-1 {
  width: 100%;
  border: 2px solid rgb(252, 195, 195);

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: 
  'profile-card profile-card'
  'skills-meter-vertical blogs-vertical'
  'hobbies-vertical blogs-vertical'
  'hobbies-vertical experience-vertical'
  'projects projects'; 
  gap: 2em; 

  @include size-down(tablet) {
    grid-template-areas: 
    'profile-card'
    'skills-meter-vertical'
    'blogs-vertical'
    'hobbies-vertical'
    'experience-vertical'
    'projects';
  }

  .profile-card {
    grid-area: profile-card;
    width: 100%;
  }
  .profile-card.vertical {
    grid-area: profile-card-vertical;
  }
  
  .projects {
    grid-area: projects;
  }
  .projects.horizontal {
    grid-area: projects-horizontal;
  }
  
  .skills_meter {
    grid-area: skills-meter;
  }
  .skills_meter.vertical {
    grid-area: skills-meter-vertical;
    width: 100%;
  }
  
  .blogs-card {
    grid-area: blogs;
  }
  .blogs-card.vertical {
    grid-area: blogs-vertical;
    width: 100%;
  }
  
  .experience {
    grid-area: experience;
  }
  .experience.vertical {
    grid-area: experience-vertical;
    width: 100%;
    .container .experience-card .image {
      width: 20%;
      span {
        margin: 0 auto;
      }
    }
    .container .experience-card article {
      max-width: 30ch;
    }
  }
  
  .hobbies {
    grid-area: hobbies;
  }
  .hobbies.vertical {
    grid-area: hobbies-vertical;
    width: 100%;
  }
}

